###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto eol=lf
*.bat text  eol=crlf
*.cmd text  eol=crlf
*.ps1 text  eol=crlf

###############################################################################
# Set default behavior for command prompt diff.
###############################################################################
*.cs        diff=csharp

###############################################################################
# Set the merge driver for YAML map data
# dotnet run --project ./Content.Tools "$@"
###############################################################################
Resources/Maps/**.yml merge=mapping-merge-driver
